.contacts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.contacts_link {
  display: block;
  width: 25%;
}

.contacts_link + .contacts_link {
  margin-top: 10%;
}

.text_link:focus {
  color: #4FCF06;
}

.text_link:hover {
  color: #4FCF06;
}

@media (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: row;
  }

  .contacts_link + .contacts_link {
    margin-top: 0;
    margin-left: 5%;
  }
}
