.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.contacts_link {
    display: block;
    width: 25%;
}

.contacts_link + .contacts_link {
    margin-top: 10%;
}

.icon {
    fill: var(--color__primary);
    transition: fill 0.2s linear;
}

.icon:hover {
    fill: var(--color__secondary);
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
        margin-top: 15vh;
    }

    .contacts_link {
        width: 15%;
    }

    .contacts_link + .contacts_link {
        margin-top: 0;
        margin-left: 5%;
    }
}
