.introduce {
  margin-top: 15vh;
  margin-bottom: auto;
  padding: 1em;
  text-align: center;
}

.description {
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
}

.text_link {
  margin-left: 0.2em;
  border-bottom: 1px dashed;
}

.text_link:link {
  color: black;
}

.text_link:focus {
  color: #4FCF06;
}

.text_link:hover {
  color: #8D8D8C;
}

.text_link:visited {
  color: #BFBFBF;
}

@media (min-width: 768px) {
  .introduce {
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    align-items: center;
  }

  .description {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    text-align: justify;
  }
}