.content {
    display: block;
}

.title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0.25em;
    line-height: 1;
    font-weight: 600;
    font-size: 2em;
}

.section + .section {
    margin-top: 2em;
}

.subsection {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--space);
}

.subsection_meta {
    width: 100%;
}

.subsection_media__right,
.subsection_media__left {
    order: -1;
    width: 100%;
}

.description {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
}

.project_link {
    float: right;
    margin-bottom: var(--space);
}

.project_link:hover {
    transition: box-shadow 0.2s linear;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px var(--color__secondary);
}

.project_img {
    border: 1px solid #ddd;
    border-radius: 4px;
    vertical-align: top;
    width: fit-content;
}

@media (min-width: 768px) {
    .title {
        font-size: 3em;
    }

    .subsection {
        flex-wrap: nowrap;
        margin-top: 4rem;
    }

    .subsection_meta {
        width: 50%;
    }

    .subsection_media__right {
        order: 0;
        width: 50%;
        padding-left: 2rem;
    }

    .subsection_media__left {
        width: 50%;
        padding-right: 2rem;
    }
}
