.introduce {
  margin-bottom: auto;
  padding: 1em;
  text-align: center;
}

.description {
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
  margin-bottom: 20px;
}

.text_expand {
  letter-spacing: 1px;
}

.project_link {
  display: inline-block;
  margin-bottom: 20px;
}

.project_link:hover {
  box-shadow: 0 0 2px 1px  #4FCF06;
}

.project_img {
  border: 1px solid #ddd;
  border-radius: 4px;
  vertical-align: top;
  width: fit-content;
}

@media (min-width: 768px) {
  .project_link {
    max-width: 300px;
  }
  .project_link + .project_link {
    margin-left: 20px;
  }
}

@media (min-width: 1024px) {
  .introduce {
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    align-items: center;
  }

  .description {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
    text-align: justify;
  }

  .project_link {
    max-width: 400px;
  }

  .project_link + .project_link {
    margin-left: 20px;
  }
}
