.introduce {
    margin-bottom: 5vh;
    text-align: center;
}

.portrait {
    max-width: 20rem;
    border-radius: 50%;
    margin-bottom: 5vh;
}

.description {
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
}

.description_row {
    display: block;
    margin-bottom: 0.33em;
}

@media (min-width: 768px) {
    .content {
        display: flex;
        align-items: center;
    }

    .introduce {
        flex-direction: row;
        margin-top: 10vh;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
    }

    .portrait {
        float: left;
        shape-outside: circle();
        margin: 2rem;
    }

    .description {
        margin-top: 2rem;
        margin-right: 0;
        margin-left: 0;
        text-align: justify;
    }
}
