.entrance {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    padding-top: 5vh;
    padding-bottom: var(--header_height);
}

@media (min-width: 768px) {
    .main {
        padding-top: calc(var(--header_height) * 2);
    }
}
