.footer {
    display: flex;
    margin-top: auto;
    padding: 1em;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.footer_link + .footer_link {
    margin-left: 1em;
}

.footer_link__active {
    font-weight: bold;
}

.footer_link:focus {
    color: #4FCF06;
  }

  .footer_link:hover {
    color: #4FCF06;
    transform: scale(1.2);
  }